<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Inserção</title>
</head>
<body>

<h2>Insira os valores:</h2>

<form action="processar_formulario.php" method="post">
    <label for="crm_medico">CRM do Médico:</label>
    <input type="text" id="crm_medico" name="crm_medico"><br><br>
    
    <label for="dataHoraInicio">Data e Hora de Início:</label>
    <input type="datetime-local" id="dataHoraInicio" name="dataHoraInicio"><br><br>
    
    <!-- Outros campos do formulário aqui -->
    
    <input type="submit" value="Inserir">
</form>

</body>
</html>
