<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Buscar Disponibilidade Médica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/busca.css">
</head>
<body>
    <h2>Buscar Especialidade Médica</h2>
    <form action="/resultados" method="post">
        {{ formresultado.csrf_token }}
        
        <p>{{ formresultado.estado_unidade.label }}
            <select name="estado_unidade">
                {% for estado in estados %}
                    <option value="{{ estado }}">{{ estado }}</option>
                {% endfor %}
            </select>
        </p>
        
        <p>{{ formresultado.cidade_unidade.label }}
            <select name="cidade_unidade">
                {% for cidade in cidades %}
                    <option value="{{ cidade }}">{{ cidade }}</option>
                {% endfor %}
            </select>
        </p>
        
        <p>{{ formresultado.especialidade.label }} 
            <select name="especialidade">
                {% for esp in especialidades %}
                    <option value="{{ esp }}">{{ esp }}</option>
                {% endfor %}
            </select>
        </p>
        
        <input type="submit" value="Buscar">
        <center>
        <a href="{{ url_for('hero') }}" class="botao-inicio">Início</a>
        </center>
    </form>
</body>
</html>
