<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestor de UPA</title>
    <link href="static/gestor_upa.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a class="nav-link scrollto active" href="{{ url_for('hero') }}">Início</a></li>
            <!-- <li><a href="#">Link 2</a></li> -->
            <!--<li><a href="#">Link 3</a></li> -->
        </ul>
    </nav>

    <div class="container">
        <h1>Alterações no banco de dados</h1>
        <form action="/gestor_upa" method="post" enctype="multipart/form-data">
            <label for="csv_file" class="custom-file-upload">
                Escolher Arquivo
            </label>
            <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
            <input type="submit" value="Enviar Arquivo CSV">
        </form>
    </div>
    
    
</body>
</html>
