<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>MedBusca - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
 <!-- <script src="MedBusca/assets/js/main.js/glightbox.js"></script>  -->
  <!-- Favicons -->
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/js/main.js"></script>
 <!-- <link href="static/assets/img/favicon.png" rel="icon"> -->
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <script src="static/assets/js/conection.js"></script>

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top"> 
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <!-- <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="bi bi-phone"></i> +1 5589 55488 55-->
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <img src="static/assets/img/MedBusca.png" alt="" style="width: 100px; height: auto;">
        M.B.SUS
    </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('hero') }}">Início</a></li>
          <li><a class="nav-link scrollto" href="#about">Ajuda</a></li>
          <li><a class="nav-link scrollto" href="#doctors">Sobre</a></li>
          <li></li><a href="{{ url_for('busca') }}" class="btn-get-started scrollto">Urgência</a></li>
          <li></li><a href="{{ url_for('especialidades') }}" class="btn-get-started scrollto">Buscar por especialidades </a></li>
          <li><a href="{{ url_for('login') }}" class="btn-get-started scrollto">Para gestores</a></li>
       <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->

          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header> <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bem vindo ao MedBusca</h1>
      <h2>È com prazer que te fornecemos informações valiosas com rapidez e eficiencia</h2>
      <a href="{{ url_for('busca') }}" class="btn-get-started scrollto">Urgência</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- End Why Us Section -->
        <br> <br> <br> <br> <br> <br> <br> <br>
        
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://youtu.be/YJaEz2qBveY" class="glightbox play-btn mb-4"></a>
          </div>

          <div
            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Assista o vídeo clicando no centro da imagem ao lado</h3>
            <p>Este vídeo apresenta alguns detalhes do Sistema Único de Saúde (SUS).</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Urgência</a></h4>
              <p class="description">Essa opção te leva para uma busca rápida, ao preencher os campos será bem
                direcionado(a).</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Buscar por especialidades</a></h4>
                <p class="description"> "Apresenta todas as especialidades cadastradas no sistema MedBusca.
                  Ao clicar em uma especialidade, serão exibidas as UPAs que oferecem o atendimento
                    para a especialidade selecionada."
                </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="">Aqui fica um alerta</a></h4>
                <p class="description">Tenha cuidados preventivos com sua saúde caso sinta algum sintoma procure logo o
                  médico,
                  Diagnóstico precoce signifisa 98% de chance de cura segundo a força Aeréa Brasileira.

                </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

      <!-- ======= Appointment Section ======= -->
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Sobre</h2>
          <p>"O MedBusca é uma ferramenta dedicada a simplificar o acesso a especialistas
            médicos no sistema público de saúde (SUS).
            Nosso objetivo é conectar os usuários com médicos especializados, facilitando a busca por 
            especialidades específicas em unidades de saúde. Com o MedBusca, os usuários podem encontrar
            informações detalhadas sobre a localização das unidades que oferecem a especialidade desejada no SUS,
            proporcionando uma experiência mais ágil e informada no cuidado com a saúde."
          </p>
        </div>

      </div>
    </section><!-- End Doctors Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Perguntas frequentes</h2>
          <p>Clicando nas setas abaixo será exibidas as respostas.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-1">Tem alguma upa que atenda Oftalmologia? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Na upa do Cabula Salvador-Ba próximo ao HGRS(Hospital G. Roberto Santos), para casos como irritação,
                  passivel infecção e outros casos não traumáticos. tem atandimento todos os dias.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                class="collapsed">Como ter acesso as consultas especializada no SUS? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  A principal porta de entrada do SUS são as Unidades Básicas de Saúde e as Equipes de Saúde da Família,
                  que integram a chamada Atenção Básica em Saúde.
                  Ao procurar algum desses serviços, você inicia a sua linha de cuidado no SUS.
                  Caso a avaliação médica nessas unidades indicar a necessidade de realização de uma consulta com um
                  especialista (em traumatologia, oncologia, ginecologia, por exemplo), a Secretaria Municipal de Saúde
                  de sua cidade é acionada para marcar a consulta junto a um serviço oferecido no próprio município ou
                  em um município de referência para aquela especialidade.
                  O processo de marcação de consulta é chamado de regulação ambulatorial.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                class="collapsed">Quais os casos em que se deve acionar o Samu? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  O SAMU 192 deve ser acionado nos seguintes casos: acidentes/traumas com vítimas; choque elétrico;
                  problemas cardiorrespiratórios; afogamentos; intoxicação ou queimaduras graves;
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                class="collapsed"> Qual a Carta de direitos dos usuários do SUS? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Todo cidadão tem direito ao acesso ordenado e organizado aos sistemas de saúde.
                  Todo cidadão tem direito a tratamento adequado e efetivo para seu problema.
                  Todo cidadão tem direito ao atendimento humanizado, acolhedor e livre de qualquer discriminação.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                class="collapsed">Qual a principal porta de entrada dos usuários do SUS?<i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  A porta de entrada do usuário no SUS é na Unidade Básica de Saúde (UBS),
                  popularmente conhecida como Posto de Saúde. A UBS é de responsabilidade de gerenciamento do município,
                  ou seja, de cada Prefeitura brasileira.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    <!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Galeria</h2>
          <p>É preciso muito esforço e dedicação em pasquisas para adquirir
            os conhecimentos necessários para prastar um serviço de excelência.
          </p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                <img src="static/assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->
    </section> <!-- End Contact Section -->    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
          Designed by <a href="https://bootstrapmade.com/">Bootstrap/MedBuscaMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
       <!--<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
       <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
       <!--<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  

</body>

</html>