/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center; /* Centraliza o texto no cabeçalho da tabela */
}

/* Responsividade para dispositivos menores */
@media only screen and (max-width: 600px) {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        display: block;
        padding: 10px;
        text-align: left;
    }

    th {
        display: none; /* Oculta o cabeçalho em telas menores */
    }

    td:before {
        content: attr(data-label); /* Usa o atributo data-label para o conteúdo antes do texto da célula */
        float: left;
        font-weight: bold;
    }
}
