/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    text-align: center;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
select,
input[type="submit"],
.botao-inicio {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}



/* Estilizando os botões */
input[type="submit"],
.botao-inicio {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
.botao-inicio:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    form {
        width: 60%;
    }
}

/* Estilizando os selects */
select {
    width: 100%;
    padding: 10px; /* Ajuste o padding conforme necessário */
    margin-bottom: 10px; /* Espaçamento entre os selects */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura total */
    border-radius: 5px; /* Borda arredondada */
    border: 1px solid #ccc; /* Estilo da borda */
}

/* Estilos responsivos para os selects em telas menores */
@media screen and (max-width: 767px) {
    select {
        padding: 8px; /* Ajuste o padding para telas menores */
        margin-bottom: 8px; /* Espaçamento menor entre os selects */
    }
}
