/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilização para o novo texto e botão */
h3 {
    text-align: center;
    margin-top: 10px;
    color: #4b4949;
}

.botao-inicio, input[type="submit"] {
    display: inline-block;
    width: 90%;
    margin-top: 10px;
    padding: 10px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #55a0f0; /* Cor igual à dos botões de submit */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-inicio:hover, input[type="submit"]:hover {
    background-color: #79a7d4; /* Cor de hover igual à dos botões de submit */
}



label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #55a0f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #79a7d4;
}

/* Estilização para o novo texto e botão */
form p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

form p a {
    text-decoration: none;
    color: #55a0f0;
}

form .botao-esqueceu {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #55a0f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .botao-esqueceu:hover {
    background-color: #45a094;
}

/* Media queries para tornar responsivo */
@media (max-width: 768px) {
    form {
        width: 80%;
    }
}
