
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h2 {
    color: #333;
  }
  
  /* Estilização para a tabela */
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 6px; /* Reduzindo o espaçamento */
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px; /* Aumentando o tamanho da fonte */
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilizações específicas para os dados da tabela */
  .especialidade {
    font-weight: bold;
    color: #4CAF50;
  }
  
  .endereco {
    font-style: italic;
    color: #777;
  }
  
  /* Estilização para o link "Home" */
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  
  .botao-inicio {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease-in-out; /* Transição suave de cor de fundo */
  }
  
  .botao-inicio:hover {
    background-color: #0056b3; /* Mudança de cor ao passar o mouse */
  }
  
  /* Estilos responsivos para a tabela em telas menores */
  @media screen and (max-width: 767px) {
    table {
        font-size: 14px; /* Ajuste adicional no tamanho da fonte */
    }
  
    th, td {
        padding: 4px; /* Reduzindo ainda mais o espaçamento */
    }
  }